@font-face {
    font-family: "IM Fell English";
    src: url("IMFellEnglish-Regular.ttf") format("truetype");
  }
  
  body {
    background-color: #e5d8b0;
    font-family: "IMFellEnglish";
    font-size: 30px;
    line-height: 1.5;
  }
  
  h6{
    font-size: 1px;


  }


  h1 {
    color: #8b4513;
    font-size: 70px;
    text-align: center;
    font-family: "Old English Text MT", "Times New Roman", serif;
    text-shadow: 2px 2px #000000;
  }
  
  p {
    color: #000000;
    text-align: justify;
    background-color: #f7eed3;
    padding: 20px;
    border: 1px solid #bca376;
    border-radius: 10px;
    box-shadow: 5px 5px 5px #888888;
    margin: 20px;
    font-family: "IM Fell English", sans-serif;
    font-size: 24px;
    line-height: 1.5;
  }
  
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  li {
    display: inline;
  }
  
  li a {
    display: block;
    color: #8b4513;
    background-color: #e5d8b0;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    border: 1px solid #8b4513;
    border-radius: 25px;
    margin: 10px;
    transition: background-color 0.3s, color 0.3s;
  }
  
  li a:hover {
    background-color: #8b4513;
    color: #ffffff;
  }